.game {
  background-color: #282c34;
}

.start-button {
  background-color: #282c34;
  height: 15vh;
}

div.start-button:hover {
  cursor: pointer;
}

.red-text {
  color: #bf2e1a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.yellow-text {
  color: #f2f000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.animation {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: myfirst 0.25s linear 2s infinite alternate;
}

/* Standard syntax */
@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}