.game {
  background-color: #282c34;
}

.start-button {
  background-color: #282c34;
  height: 15vh;
}

div.start-button:hover {
  cursor: pointer;
}

.red-text {
  color: #bf2e1a;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.yellow-text {
  color: #f2f000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}