.square {
  height: 40px;
  width: 40px;
  display: inline-block;  
  text-align: center;
  vertical-align: top;
}

.absolute {
  position: absolute;
}

.pacman {
  max-width: 100%;
  max-height: 100%;  
}

.ghost {
  max-width: 100%;
  max-height: 100%;  
}

.right {
  animation: move-right 250ms infinite 0ms linear;
  animation-play-state: paused;
}

@keyframes move-right {
  0% {transform: translateX(calc(var(--dist) * -1px / 2));}
  100% {transform: translateX(calc(var(--dist) * 1px / 2));}
}

.down {
  animation: move-down 250ms infinite 0ms linear;
  animation-play-state: paused;
}

@keyframes move-down {
  0% {transform: rotate(90deg) translateX(calc(var(--dist) * -1px / 2));}
  100% {transform: rotate(90deg) translateX(calc(var(--dist) * 1px / 2));}
}

.left {
  animation: move-left 250ms infinite 0ms linear;
  animation-play-state: paused;
}

@keyframes move-left {
  0% {transform: scaleX(-1) translateX(calc(var(--dist) * -1px / 2));}
  100% {transform: scaleX(-1) translateX(calc(var(--dist) * 1px / 2));}
}


.up {
  animation: move-up 250ms infinite 0ms linear;
  animation-play-state: paused;
}

@keyframes move-up {
  0% {transform: rotate(-90deg) translateX(calc(var(--dist) * -1px / 2));}
  100% {transform: rotate(-90deg) translateX(calc(var(--dist) * 1px / 2));}
}

.dot {
  max-width: 15%;
  max-height: 15%;
}

.bigdot {
  max-width: 50%;
  max-height: 50%; 
}