.board-background {
  background-color: #282c34;
  position: relative;
  width: 100%;
}

.board {
  position: relative;
  display: inline-block;
  touch-action: none;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}